# secrets
secrets/
*.json

# data 
data/staging/
data/outputs/*.csv
data/outputs/*.json
data/outputs/*.txt
data/outputs/.download_progress.csv

# allow small sample data to be committed
!data/sample/
!data/sample/**
!data/sample/images/**
!data/sample/outputs/**

# python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# mac
.DS_Store

# envs
.env
.venv
.conda/
*.env