# secrets
secrets/
*.json

# data
data/staging/
data/downloads/
data/tmp/
data/cache/
data/test_runs/
data/staging_all/

# ignore outputs except a few small csvs
data/outputs/*
!data/outputs/animals_only.csv
!data/outputs/output.csv
!data/outputs/final_output.csv

# allow small sample data to be committed
!data/sample/
!data/sample/**
!data/sample/images/**
!data/sample/outputs/**

# python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# mac
.DS_Store

# envs / venvs
.env
.venv
.venv*/
venv/
.conda/

# notes/screenshots
notes/*.png